$danger: #ef0000;
//$danger-700: #c50404;

$primary: #ff0068;
//$primary-400: blue;
//$primary-700: blue;

$secondary: #dadada;
//$secondary-400: #f3f6f9;
//$secondary-700: #9f9f9f;

$warning-700: #ff8a0c;
