$danger: #ef0000;
$danger-700: #c50404;

$primary: #ff0068; // primary-500
$primary-400: #ff3386;
$primary-700: #bf004e;

$secondary: #dadada; // secondary-500
$secondary-400: #f3f6f9;
$secondary-700: #9f9f9f;

$warning-700: #ff8a0c;

//.white {
//	   	 color: red;
//			 display: block;
//		.white {
//			color: red;
//		}

//}
