$danger: #EF0000;
$danger-700: #C50404;

$primary: #FF0068; // primary-500
$primary-400: #FF3386;
$primary-700: #BF004E;

$secondary: #DADADA; // secondary-500
$secondary-400: #f3f6f9;
$secondary-700: #9F9F9F;

$warning-700: #ff8a0c;