@mixin flex($justify-content: flex-start, $align-item: center, $flex-direction: row) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-item;
	justify-content: $justify-content;
}

$MaxWidthWindow: 1920;
$MinWidthWindow: 320;

@function adaptiveSize($NumMax, $NumMin, $WidthMax: $MaxWidthWindow, $WidthMin: $MinWidthWindow) {
	$k: ($NumMax - $NumMin)/ ($WidthMax - $WidthMin);
	$b: ($NumMin - ($k * $WidthMin)) * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

@mixin font-size($Fmax, $Fmin, $Vmax: $MaxWidthWindow, $Vmin: $MinWidthWindow) {
	@media (min-width: $Vmax * 1px) {
		font-size: $Fmax * 1px;
	}

	@media (min-width: $Vmin * 1px) and (max-width: $Vmax * 1px) {
		font-size: adaptiveSize($Fmax, $Fmin, $Vmax, $Vmin);
	}
}

@mixin indent($rule, $Direction, $NumMax, $NumMin, $Vmax: 1920, $Vmin: 320) {
	@media (min-width: $Vmax * 1px) {
		#{$rule}-#{$Direction}: $NumMax * 1px;
	}

	@media (min-width: $Vmin * 1px) and (max-width: $Vmax * 1px) {
		#{$rule}-#{$Direction}: adaptiveSize($NumMax, $NumMin, $Vmax, $Vmin);
	}
}

@mixin indent-2($rule, $NumMax1, $NumMin1, $NumMax2, $NumMin2, $Vmax: 1920, $Vmin: 320) {
	@media (min-width: $Vmax * 1px) {
		#{$rule}-top: $NumMax1 * 1px;
		#{$rule}-bottom: $NumMax1 * 1px;

		#{$rule}-left: $NumMax2 * 1px;
		#{$rule}-right: $NumMax2 * 1px;
	}

	@media (min-width: $Vmin * 1px) and (max-width: $Vmax * 1px) {
		$horizontalResult: adaptiveSize($NumMax1, $NumMin1, $Vmax, $Vmin);
		#{$rule}-top: $horizontalResult;
		#{$rule}-bottom: $horizontalResult;

		$verticalResult: adaptiveSize($NumMax2, $NumMin2, $Vmax, $Vmin);
		#{$rule}-left: $verticalResult;
		#{$rule}-right: $verticalResult;
	}
}

@mixin grid($colsdfumnCount, $gap: 0) {
	display: grid;
	grid-gap: $gap * 1px;
	grid-template-columns: repeat($columnCount, minmax(0, auto));
}

//@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
//	$k: math.div(($f-max - $f-min), ($v-max - $v-min));
//	$b: $f-min - $k * $v-min;

//	$b: $b * 1px;

//	@return calc(#{$k} * 100vw + #{$b});
//}

//.fluid-font-size {
//	font-size: calcFluidFontSize(20, 48, 480, 1280);
//}
